<div class="container mt-3">
    <style>
        .form-control {
            width: 100%;
            height: 45px;
            border-radius: 12px;

        }
    </style>

    <form action="{{path('product_search')}}" method="post" class="form-group">
        {{form_start(form)}}
        <div class="row">

            <div class="col-md-9">

                {{form_row(form.title,{'attr':{'class':'form-control'}})}}
            </div>
            <div class="col-md-3">
                <button class="genric-btn danger radius">Rechercher</button>
            </div>
        </div>
        {{form_end(form)}}
    </form>


</div>