{% extends "base.html.twig" %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-9">
            {{ include('admin/seller/_form.html.twig',{bouton:'créer'}) }}
        </div>
    </div>²
</div>
{% endblock  %}