{% extends "base.html.twig" %}
{% block body %}
<div class="david-droga-area  pb-260 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-9 offset-md-2">

                <div class="container mt-5 p-5">
                    <div class="row card p-3 mb-4">
                        <div class="col-md-12">
                            <h1 class="card-title text-center">Créer Un nouveau Préstataire²</h1>

                        </div>
                        <div class="col-md-6">
                            <a href="{{ path('seller_index') }}" class="genric-btn warning radius">Listes
                                des Préstataires</a>

                        </div>
                    </div>

                    {{ include('admin/seller/_form.html.twig',{bouton:'créer'}) }}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock  %}