{% extends 'base.html.twig' %}

{% block title %}Créer!{% endblock %}

{% block body %}

<div class="container mt-4">
    <h2 class="text-center">Créer un nouveau bien</h2>
    {{ include('admin/property/layouts/form.html.twig',{bouton:'Créer'}) }}

    {% endblock %}