<div class="site-blocks-cover overlay mt-3" style="background-image: url('images/banner.jpg');" data-aos="fade"
    data-stellar-background-ratio="1.5" data-aos="fade">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-8 text-center mt-4" data-aos="fade-up" data-aos-delay="400"
                style="color: rgb(255, 255, 255);">
                <h1 class="mb-4">Excellent Espace pour vos Achats</h1>
                <p class="mb-9">T-Shirt, Chemise, Soulier</p>
                <p><a href="#" class="btn btn-primary px-5 py-3">Acheter</a></p>
            </div>
        </div>
    </div>
</div>