<div class="site-section block-13">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
                <h2 class="mb-5">Love By Our Customers</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, fugit nam obcaecati fuga itaque
                    deserunt officia, error reiciendis ab quod?</p>
            </div>
        </div>
        <div class="nonloop-block-13 owl-carousel">

            <div class="text-center p-3 p-md-5 bg-white">
                <div class="mb-4">
                    <img src="images/person_1.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
                </div>
                <div class="text-black">
                    <h3 class="font-weight-light h5">Megan Smith</h3>
                    <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto.
                        Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
                </div>
            </div>

            <div class="text-center p-3 p-md-5 bg-white">
                <div class="mb-4">
                    <img src="images/person_2.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
                </div>
                <div class="text-black">
                    <h3 class="font-weight-light h5">Brooke Cagle</h3>
                    <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto.
                        Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
                </div>
            </div>

            <div class="text-center p-3 p-md-5 bg-white">
                <div class="mb-4">
                    <img src="images/person_3.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
                </div>
                <div class="text-black">
                    <h3 class="font-weight-light h5">Philip Martin</h3>
                    <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto.
                        Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
                </div>
            </div>

            <div class="text-center p-3 p-md-5 bg-white">
                <div class="mb-4">
                    <img src="images/person_1.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
                </div>
                <div class="text-black">
                    <h3 class="font-weight-light h5">Steven Ericson</h3>
                    <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto.
                        Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
                </div>
            </div>

            <div class="text-center p-3 p-md-5 bg-white">
                <div class="mb-4">
                    <img src="images/person_2.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
                </div>
                <div class="text-black">
                    <h3 class="font-weight-light h5">Nathan Dumlao</h3>
                    <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto.
                        Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
                </div>
            </div>

            <div class="text-center p-3 p-md-5 bg-white">
                <div class="mb-4">
                    <img src="images/person_4.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
                </div>
                <div class="text-black">
                    <h3 class="font-weight-light h5">Brook Smith</h3>
                    <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto.
                        Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
                </div>
            </div>

        </div>
    </div>
</div>