{% extends 'base.html.twig' %}

{% block title %}Boutique!{% endblock %}

{% block body %}
{% include 'pages/partials/banner.html.twig' %}
{% include 'product/partial/searchproduct.html.twig' %}
<div class="container mt-5">
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-title">
                    <h3>{{post.title}}</h3>
                </div>

                <div class="card-body">
                    <div class="card-text">
                        <p class="lead">Prix: {{post.description}}</p>
                    </div>


                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    <div class="pagination">
        {{ knp_pagination_render(posts) }}
    </div>
</div>
{% include 'pages/partials/testimoni.html.twig' %}
{% endblock %}