<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css')}}">
    {% endblock %}
</head>

<body>
    {% include 'pages/layouts/_navbar.html.twig' %}
    {% block body %}
    <div class="container mt-4">

    </div>
    {% endblock %}
    {% block javascripts %}
    <script src="{{ asset('js/bootstrap.min.js')}}"></script>
    {% endblock %}
</body>

</html>