{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
<div class="david-droga-area  pb-260 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-9 offset-md-2">

                <div class="container mt-5">

                    <div class="row card p-3 mb-4">
                        <div class="col-md-12">
                            <h1 class="card-title text-center">Créer un nouvel article</h1>

                        </div>
                        <div class="col-md-6">
                            <a href="{{ path('post_index') }}" class="genric-btn warning radius">Listes
                                Articles</a>

                        </div>
                    </div>


                    {{ include('post/_form.html.twig') }}



                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}